.event {
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    transition: all 0.5s;
    background-color: rgb(249, 249, 249);
    margin-bottom: 1rem;
}

.event:hover {
    background-color: rgba(245, 245, 245, 0.9);
}

.event .eventTitle,
p {
    padding: 0;
    margin: 0;
    width: max-content;
}

.event .eventTitle {
    position: relative;
    text-transform: capitalize;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
}

.event .eventDetails {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgba(241, 241, 241, 0.3);
    margin-top: 1rem;
    border-radius: 10px;
}

.event p {
    font-size: 14px;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    transition: all 0.3s;
    border: 1px solid #ccc;
    background-color: #fff;
}

.event p:hover {
    border: 1px solid #f7c229;
}

.event p::before {
    margin-right: 0.3rem;
}

.event p:nth-of-type(1)::before {
    content: "📌";
}

.event p:nth-of-type(2)::before {
    content: "⏱";
}

.event .description {
    display: block;
    flex-basis: 100%;
    align-self: center;
}

.event p:nth-of-type(3)::before {
    content: "✨";
}

.event .btnGrp {
    position: relative;
    display: flex;
    align-items: center;
}

.event .detailsBtn {
    background-color: #000000;
    color: #ffffff;
    padding: 0.35rem 1.25rem;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.event .detailsBtn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}

.event:hover .eventTitle::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.event .bookmarkIcon svg,
.event .bookmarkIconSaved svg {
    float: right;
    height: 24px;
    cursor: pointer;
    width: max-content;
    margin: -1rem -1.5rem;
}

.event .bookmarkIcon svg {
    fill: #ccc;
}

.event .bookmarkIconSaved svg {
    fill: #f7d800;
}

.event .bookmarkIcon svg:hover {
    fill: #f7d800;
}

.commentSection {
    display: flex;
    flex-direction: column;
}

.commentSection>div {
    width: 100%;
    display: flex;
    border: 1px solid #cacaca;
    border-radius: 5px;
    overflow: hidden;
}

.inputCommentContainer {
    margin-top: 1rem;
}

.inputCommentContainer button {
    border: none;
    background-color: white;
    color: #00B2FF;
    padding: 0.5rem;
}

.inputCommentContainer button:disabled {
    color: #a0a0a0;
}

.commentSection input {
    width: 100%;
    padding: 0.3rem 0.4rem;
    color: #000000;
    font-size: 0.9rem;
    border-radius: 5px;
    flex-grow: 1;
    border: none;
}

.commentSection input:focus {
    border: none
}

.commentSection .commentsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 100px;
    overflow-y: auto;
    font-size: 0.9rem;
    background-color: rgba(236, 249, 255, 0.3);
    margin: 1rem 0 0;
}

.hideComments {
    display: none !important;
}

.commentsContainer::-webkit-scrollbar {
    width: 2px;
}

.commentsContainer::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 5px;
}

@media screen and (max-width:576px) {
    .event {
        padding: 0.75rem 0.75rem;
    }

    .event .bookmarkIcon svg,
    .event .bookmarkIconSaved svg {
        float: right;
        height: 24px;
        cursor: pointer;
        width: max-content;
        margin-right: 0;
    }

}