.dropdownContainer {
    position: absolute;
    width: 125px;
    top: 2.5rem;
    left: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 100;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

.dropdownContainer * {
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
}

.dropdownContainer div:last-child {
    background-color: rgb(207, 39, 39);
}

.dropdownContainer button {
    width: max-content;
    background-color: transparent;
    padding: 0;
    color: #fff;
    border: none;
    transition: all 0.3s;
}

.dropdownContainer div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    padding: 0.45rem;
    color: #000;
}

.dropdownContainer .profileLinkCotaniner:hover {
    background-color: rgb(232, 232, 232);
}

.dropdownContainer .profileLinkCotaniner:hover .profileLink {
    text-decoration: underline;
}

.dropdownContainer .profileLink {
    text-decoration: none;
    width: max-content;
    color: #000;
}

.dropdownContainer img {
    position: absolute;
    left: 10px;
    height: 18px;
    width: max-content;
}

.dropdownContainer div:last-child img{
    left: 12px;
}
