nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ccc;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 3.5rem;
}

.navbarContainer {
    position: relative;
    margin: 0 auto;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbarContainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarContainer div li {
    margin: 0 0.5rem;
}

ul p,
ul li {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

ul p:hover::after,
ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav .profileLink {
    color: #fff;
    text-decoration: none;
}

nav .navbarContainer .menuCotainer {
    cursor: pointer;
}

.mobileMenu {
    display: none;
}

nav .searchContainer {
    position: relative;
    width: 25%;
    margin-left: auto;
}

nav .searchContainer>img {
    position: absolute;
    left: 2.5px;
    height: 25px;

}

nav .searchContainer input {
    width: 100%;
    padding: 0.5rem;
    padding-left: 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    border: 1px solid solid;
    background-color: rgba(110, 110, 110, 0.35);
}

nav .searchContainer input:focus {
    border: none;
    outline: none;
}

nav .notificationsContainer {
    position: relative;
    cursor: pointer;
    padding: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: auto;
    margin-right: 2.5rem;
}

nav .notificationCount {
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: white;
    background-color: 	#ff003c;
    border-radius: 200%;
    padding: 2px;
    font-size: 12px;
}

@media screen and (max-width:576px) {
    nav {
        padding: 0.5rem;
    }

    .mobileMenu {
        display: flex;
        font-size: 2rem;
    }

    .navbarContainer div {
        display: none;
    }

    .navbarContainer>p {
        font-size: 1.125rem;
        letter-spacing: 0.25px;
        margin-left: auto;
    }

    .navbarContainer div:nth-child(3) {
        display: flex;
        margin-left: auto;
    }

}