.signupContainer * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.signupContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  margin-top: 1rem;
}

.imgContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imgContainer > img {
  height: 100%;
  margin-top: 2rem;
}

.imgContainer div {
  margin-right: 3.125rem;
  position: absolute;
}

.imgContainer div img {
  height: 490px;
}

.signupFormContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.signupFormContainer > * {
  width: 50%;
}

.signupForm {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  margin-top: 2rem;
}

.signupForm h1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "Grand Hotel", cursive;
  font-size: 3rem;
  font-weight: 100;
}

.inputControlGroup {
  width: 80%;
  margin: 0 auto;
}

.signupForm .inputControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem auto;
}

.signupForm .inputControl input {
  padding: 0.5rem;
  color: #000000;
  border: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 0.8rem;
}

.signupForm .inputControl input:focus {
  outline: 1px solid #eee;
}

.signupForm .inputControl label {
  text-align: left;
  font-size: 14px;
}

.signupForm button {
  background-color: #0095f6;
  color: white;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem auto 1rem;
  cursor: pointer;
  font-weight: 600;
  border: none;
  overflow: hidden;
  border-radius: 5px;
}

.signupForm button:disabled {
  background-color: #4cb5f9;
  cursor: not-allowed;
  overflow: hidden;
}

.signupForm .hr {
  color: #737373;
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
}

.signupForm .hr::before {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background: #dbdbdb;
  left: 30px;
  top: 50%;
  position: absolute;
}

.signupForm .hr::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background: #dbdbdb;
  right: 30px;
  top: 50%;
  position: absolute;
}

.signupFormErrors {
  text-align: left;
  color: rgb(255, 0, 51);
  font-size: 12px;
}

.signupFormContainer .signupLink {
  text-align: center;
  color: #000;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  padding: 1.25rem;
}

.signupFormContainer .signupLink a {
  text-decoration: none;
  color: #0095f6;
}

.rateError {
  color: red;
  background-color: pink;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.rateError::before {
  content: "❌";
  color: red;
  background-color: rgb(255, 227, 227);
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 0.5rem;
}

.emailVerification {
  background-color: rgb(161, 238, 161);
  color: green;
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 576px) {
  .loginContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer {
    display: none;
  }

  .signupFormContainer {
    width: 75%;
    height: max-content;
    justify-content: center;
    align-items: center;
  }

  .signupForm {
    width: 100%;
    height: 20rem;
    justify-content: center;
  }

  .signupForm button {
    padding: 0.6rem;
  }

  .signupFormContainer .signupLink {
    text-align: center;
    margin-top: 0.5rem auto;
    font-size: 0.8rem;
    padding: 1.25rem;
    width: 90%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -100;
    overflow: hidden;
  }

  .imgContainer h1 {
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 6rem;
  }

  .signupFormContainer {
    position: absolute;
    width: 50%;
    height: max-content;
    background-color: white;
    border-radius: 5px;
  }

  .signupForm {
    width: 100%;
    height: 25rem;
    justify-content: center;
  }

  .signupForm .signupLink {
    font-size: 0.95rem;
    margin-top: 0.5rem;
  }

  .signupForm .inputControl label {
    font-size: 0.95rem;
  }

  .signupForm button {
    font-size: 1rem;
  }
}
