.dropdownContainer {
    position: absolute;
    background-color: white;
    width: 100%;
    max-height: 150px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 95%;
    overflow-y: auto;
    z-index: 999;
    font-size: 1rem;
}

.dropdownContainer div {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: max-content;
}

.dropdownContainer div a {
    text-decoration: none;
    color: black;
}

.dropdownContainer div img {
    height: 25px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-right: 0.5rem;
    border: 1px solid transparent;

}

.dropdownContainer div p {
    margin-right: 0.5rem;
    font-weight: 600;
    color: black;
}

.dropdownContainer div:hover {
    background-color: #0969da;
}

.dropdownContainer div:hover a {
    color: white;
}

.dropdownContainer div:hover img {
    border: 1px solid white;
}

.dropdownContainer div:hover p {
    color: white;
}

.dropdownContainer div:last-child {
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}