html,
body {
    margin: 0;
    padding: 0;
}

.loginContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.imgContainer {
    width: 50%;
    height: 100%;
    background: url("../Assets/HomePage.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer h1 {
    font-size: 6rem;
    color: #ffffff;
}

.loginFormContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    height: 50vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputControlGroup {
    margin: 0 auto;
    width: 80%;
}

.loginForm .inputControl {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.loginForm .inputControl label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginForm .inputControl input {
    padding: 0.5rem;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid #cacaca;
}

.loginForm .inputControl input:focus {
    outline: 1px solid black;
}

.loginForm button {
    background-color: #000000;
    color: white;
    letter-spacing: 3px;
    width: 100%;
    padding: 0.6rem;
    cursor: pointer;
    font-weight: 600;
}

.loginForm button:disabled {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: not-allowed;
}

.loginForm .formError {
    text-align: center;
    color: rgb(255, 0, 51);
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.loginForm .signupLink {
    text-align: center;
    margin: 1rem auto;
    color: #535353;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rateError {
    color: red;
    background-color: pink;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.rateError::before {
    content: "❌";
    color: red;
    background-color: rgb(255, 227, 227);
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    font-size: 0.5rem;
}

@media screen and (max-width:576px) {

    .loginContainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgContainer {
        width: 100%;
        height: 100%;
        background: url("../Assets/HomePage.jpg");
        background-size: 100% 100%;
        position: relative;
        z-index: -100;
        overflow: hidden;
    }

    .imgContainer h1 {
        position: absolute;
        top: 15%;
        text-align: center;
        font-size: 4.5rem;
    }
    
    .loginFormContainer {
        position: absolute;
        width: 70%;
        height: max-content;
        background-color: white;
        border-radius: 5px;
    }

    .loginForm {
        width: 100%;
        height: 20rem;
        justify-content: center;
    }

    .loginForm .signupLink {
        font-size: 0.8rem;
    }

    .loginForm .inputControl label {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .loginForm button {
        padding: 0.6rem;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {

    .loginContainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgContainer {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -100;
        overflow: hidden;
    }

    .imgContainer h1 {
        position: absolute;
        top: 15%;
        text-align: center;
        font-size: 6rem;
    }
    
    .loginFormContainer {
        position: absolute;
        width: 50%;
        height: max-content;
        background-color: white;
        border-radius: 5px;
    }

    .loginForm {
        width: 100%;
        height: 25rem;
        justify-content: center;
    }

    .loginForm .signupLink {
        font-size: 0.95rem;
        margin-top: 0.5rem;
    }

    .loginForm .inputControl label {
        font-size: 0.95rem;
    }

    .loginForm button {
        font-size: 1rem;
    }
}