.EventModalContainer {
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    /* overflow: hidden; */
}

.EventModal {
    position: relative;
    height: 75vh;
    width: 45vw;
    background-color: #ffffff;
    margin-top: 5rem;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 1px 0px #535353;
    -moz-box-shadow: 0px 0px 1px 0px #535353;
    box-shadow: 0px 0px 1px 0px #535353;
    z-index: 101;
    overflow-y: scroll;
}

.closeBtn {
    position: absolute;
    background-color: #000000;
    color: #ff075e;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    border-bottom-left-radius: 10px;
    right: 0;
    cursor: pointer;

}

.eventForm {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.eventForm .inputControl {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.eventForm .inputControl label {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.35rem;
    color: #535353;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.eventForm .inputControl input {
    padding: 0.5rem;
    background-color: #f7f7f7;
    border: 1.4px solid #ececec;
    border-radius: 5px;
    letter-spacing: 0.3px;
}

.eventForm .inputControl input:focus {
    border-radius: 5px;
}

.eventForm .dateTimeDuration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.eventForm .dateTimeDuration .inputControl {
    flex-grow: 1;
}

.eventForm .dateTimeDuration input {
    height: 1.5rem;
    padding: 1rem;

}

.eventForm .inputControl textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 0.5rem;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.eventForm .inputControl textarea:focus {
    border-radius: 5px;
}

.eventForm hr {
    margin-top: 1rem;
    margin-bottom: 0;
    border-style: dashed;
    border-color: #cfcfcf;
    border-top-width: 1.5px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.eventForm .inputControl .searchGuest {
    display: inline-block;
    position: relative;
}

.eventForm .inputControl .searchGuest input {
    width: 100%;
}

.eventForm .inputControl .addGuest {
    position: absolute;
    bottom: 50%;
    right: 5px;
    transform: translateY(50%);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ececec;
    padding: 0.3rem 0.6rem;
    font-weight: 600;
}

.eventForm .inputControl .addGuest::before {
    content: "+";
    font-weight: 100;
    color: #959595;
    margin-right: 0.5rem;
}

.eventForm .inputControl label::after {
    content: "*";
    color: #ff075e;
    margin-left: 1px;
}

.eventForm .submitBtn {
    background-color: #ff075e;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.eventForm .submitBtn:hover {
    background-color: #ffffff;
    color: #ff075e;
    border: 2px solid #ff075e;
}

@media screen and (max-width:576px) {

    .EventModalContainer {
        height: 100vh;
        width: 100vw;
        overflow-y: hidden;
    }

    .EventModal {
        margin-top: 0;
        height: max-content;
        width: 90%;
        margin-top: 0;
        border-radius: 15px;
    }

}