.notificationContainer {
    position: absolute;
    width: 350px;
    top: 160%;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    border-bottom: 1px solid #dedede;
    background-color: white;
    font-family: "Lato", sans-serif;
}

.notificationContainer .notificationsBanner {
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem;
    border-left: 1px solid #dedede;
    border: 1px solid #dedede;
    cursor: initial;
}

.notificationContainer::-webkit-scrollbar {
    width: 3px;
}

.unreadNotification,
.readNotification {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.7rem;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    font-size: 0.9rem;
    height: max-content;
    color: black;
    background-color: rgb(231, 248, 255);
    transition: all 0.3s;
}

.readNotification {
    background-color: rgb(255, 255, 255);
}

.unreadNotification:hover {
    background-color: #0969da;
    color: white;
}

.readNotification:hover {
    background-color: #eaeaea;
    color: black;
}

.unreadNotification:last-child {
    border-bottom-left-radius: 5px;
}

.unreadNotification img,
.readNotification img {
    height: 25px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.avatarURL {
    display: flex;
    align-items: center;
    
}

.content {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}

.content > p:first-child {
    font-weight: 600;
}

@media screen and (max-width:576px) {

    .notificationContainer {
        position: absolute;
        width: 275px;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        overflow-y: auto;
        left: -100px;
    }
}