.accountPageContainer {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.heroBanner {
    width: 100%;
    height: max-content;
    margin: 5.5rem auto 1rem;
    padding: 1rem;
    border-bottom: 1px solid #efefef;
    display: flex;
}

.profilePicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.profilePicContainer img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 1rem;
    object-fit: cover;
}

.meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.meta>div>p {
    margin-bottom: 1rem;
}

.meta>div>p>span {
    margin-right: 5px;
    font-weight: 600;
}
.meta>div>button {
    display: block;
    background-color: transparent;
    padding: 0;
    margin-top: 0.5rem;
    border: none;
    font-size: 0.9rem;
    text-decoration: none;
}

.meta .followBtn {
    background: #007bff;
    padding: 0.45rem 1.5rem;
    color: white;
    width: max-content;
    transition: all 0.3s;
    border-radius: 5px;
    font-size: 0.9rem;
    border: none;
}

.meta h2 {
    margin: 0;
}

.meta .bio {
    margin-bottom: 1rem;
}

.postsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.postsContainer .post {
    position: relative;
    cursor: pointer;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.postsContainer .post img {
    flex-shrink: 0;
    max-width: 100%;
    min-height: 100%;
}

.postsContainer .post .postInfoOverlay {
    visibility: hidden;
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.2);
}

.postsContainer .post:hover .postInfoOverlay {
    visibility: visible;
}

.postsContainer .post:hover .postInfoOverlay div {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.postsContainer .post .postInfoOverlay span {
    color: white;
    margin-left: 3px;
}

.postsContainer .post .postInfoOverlay img {
    height: 22px;
    aspect-ratio: 1/1;
    margin-bottom: 3px;
}

