.toastContainer {
    position: absolute;
    bottom: 10px;
    right: 25px;
    z-index: 10;
    background-color: #fff5d4;
    color: #f7c229;
    padding: 0.3rem 0.6rem;
    border: 2px solid #f7c229;
    border-radius: 5px;
}