.successToast,
.errorToast {
    position: fixed;
    width: 300px;
    background-color: #fff5d4;
    color: #f7c229;
    padding: 1rem;
    border-radius: 5px;
    float: right;
    z-index: 99999;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.25px;
}

.errorToast {
    background-color: #ffb7b7;
}

.errorToast * {
    color: #282828;
}

.errorToast .crossIcon {
    font-size: 1rem;
    margin-right: 5px;
}

.errorToast h5 {
    margin-bottom: 5px;
}

.errorToast h6 {
    font-weight:500;
}