.successToast,
.errorToast {
    position: relative;
    width: 40%;
    text-align: center;
    background-color: #fff5d4;
    color: #f7c229;
    padding: 0.3rem 0.6rem;
    border: 2px solid #f7c229;
    border-radius: 5px;
    float: right;
    margin-top: -20px;
    z-index: 100;
}

.errorToast {
    background-color: pink;
    color: red;
    border: 2px solid red;
}