::-webkit-scrollbar {
    width: 0px;
    height: 15px;
}

::-webkit-scrollbar-track-piece {
    background-color: #C2D2E4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #adadad;
    border-radius: 10px;
}

.homePageContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
    display: flex;
}

.postContainer {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    padding-top: 3.5rem;
}

.suggestionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-family: 'Lato';
}

.suggestionsContainer>p {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.suggestionsContainer .suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.suggestionsContainer .suggestion img {
    height: 25px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 7.5px;
}

.suggestionsContainer .suggestion .userInfo {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 2rem;
}

.suggestionsContainer .suggestion a {
    cursor: pointer;
    text-decoration: none;
}

.suggestionsContainer .suggestion p:last-child {
    font-weight: 500;
    color: #808080;
}

.suggestion button {
    padding: 0.25rem 0.45rem;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 2.5px;
    font-size: 0.75rem;
}

.followBtn {
    background-color: #006AFF;
    border: 1px solid transparent;
    color: white;
}

@media screen and (max-width:576px) {

    .postContainer {
        width: 100%;
    }

    .sideContainer button {
        padding: 0.45rem 0.75rem;
    }

    .sideContainer button::before {
        margin: 0;
        padding-right: 0;

    }

    .sideContainer button span {
        display: none;
    }

}