.homePageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventsContainer {
    width: 50vw;
    height: 75vh;
    background-color: pink;
    overflow-y: scroll;
}

.eventsContainer .event {
    border: 1px solid black
}