/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #bec4c4;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.homePageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventsContainer {
    margin-top: 5rem;
    width: 50vw;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}

.eventsContainer .event {
    border-bottom: 1px solid #ebebeb;
    padding: 0.25rem 1rem;
    
}

.sideContainer {
    margin-top: 5rem;
    margin-left: 2rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sideContainer button {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.5rem 1.75rem;
    border: none;
    z-index:0;
}

.sideContainer button::before {
    content: "+";
    position: absolute;
    font-size: 1.25rem;
    left: 0;
    margin-left: 10px;
    transform: translateY(-10%);
    color: rgb(95, 249, 142);
}

.event .detailsBtn {
    background-color: #000000;
    color: #ffffff;
    padding: 0.25rem 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 0.9rem;
}

.eventsContainer .filterOptions {
    background-color: rgba(242, 242, 242, 0.4);
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.eventsContainer .filterOptions li {
    margin: 0 0.5rem;
}