.comment {
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
    padding-left: 0.3rem;
}

.comment:first-child {
    margin-top: 10px;
}

.comment img {
    height: 25px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.comment .username {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
}

.comment .commentText {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    
}
.comment .deleteComment {
    margin-left: auto;
    margin-right: 0.25rem;
}

.comment .deleteComment button {
    background-color: transparent;
    color: #00B2FF;
    border: none;
    font-size: 0.6rem;

}